SKFlatOutput
SKFlatOutput/*
SignalRegionStudy*/samples/*
SignalRegionStudy*/BackUps/*
SignalRegionStudy*/condor/*
SignalRegionStudy*/**/*.root
CommonTools/CMSSW_*/*
BackUps/*
**/build/*
**/lib/*
**/__pycache__/*
.DS_Store
**/.DS_Store
*/dataset/*
*.pyc
**/*.pyc
**/*.tar.gz
ParticleNet/dataset/*
ParticleNet/condor/*
myenv/*
root_install/*
