SKFlatOutput
SKFlatOutput/*
SignalRegionStudy/CMSSW_*/*
SignalRegionStudy/samples/*
CommonTools/CMSSW_*/*
BackUps/*
**/build/*
**/lib/*
**/__pycache__/*
.DS_Store
**/.DS_Store
*/dataset/*
*.pyc
**/*.pyc
**/*.tar.gz
